# Backend database connection
POSTGRES_DB=your_dataabase
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
DB_HOST=db
DB_PORT=5432

# Darabase configuration
POSTGRES_DB=your_database
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password

# Frontend API URL
NEXT_PUBLIC_API_URL=http://localhost:8080/api
